* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-image: url(/images/banner3.png);
    background-repeat: no-repeat;
    width: 1600px;
    height: 808px;
    text-align: center;
    background-size: cover;


}

.head-title {
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
}

.head-description {
    font-weight: 400;
    font-size: 16px;
    padding: 0;
    margin-top: 20px;
    color: #FFFFFF;
}

.header-content {
    margin-left: 450px;
    padding-top: 150px;


}

.btn-style {
    width: 160px;
    height: 64px;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border: none;
    margin-top: 30px;
    margin-left: 300px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    margin-right: 40px;
    padding: auto;
}

.main-topic {
    display: flex;

}

.main-topic img {
    width: 60%;
}

.main-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-top: 300px;
}

.main-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.plan-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
}

.planss {
    display: flex;
    justify-content: center;
}

.plan {
    margin-right: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

.plan-name {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.plan-commmit {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

.div {
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(/images/watch.png);
    background-repeat: no-repeat;
    width: 740px;
    height: 200px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 90px;
    background-color: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
}

.mind {
    padding-top: 50px;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-left: 10px;
}

.btn-cll {
    width: 100px;
    height: 52px;
    font-weight: 500;
    font-size: 20px;
    color: #005FAC;
    border: none;
    border-radius: 5px;
    background-color: white;
    margin-left: 10px;
    margin-top: 5px;


}

footer {
    background-color: #151414;
    background-size: cover;
    margin-top: 100px;
}

.last {
    display: flex;

    padding-left: 300px;
    padding-right: 300px;
}

.future {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;

}

.f-massage {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;

}

.suscrb {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 25px;
    margin-top: 15px;

}

.e {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;

}

.f {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.p {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.sus {
    width: 100px;
    height: 52px;
    color: #F8F8F8;
    background-color: #005FAC;
    border: none;
    border-radius: 5px;
    margin-top: 40px;

}

.immage {
    display: flex;
    gap: 20px;
}

.gradient-color {
    background-color: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
}